h1{
    color: cornflowerblue;
    text-align: center;
}
h2{
    color: aqua;
}
h3{
    color: aqua;
}
h6{
    font-style: italic;
}
#bback{
    display: flex;
    justify-content: center;
    background-color: chartreuse;
    border-radius: 20px;
    margin-top: 10px;
    padding: 15px;
}