*{
    font-family: sans-serif;
}
body{
    background-color: grey;
}
.block{
    background-color: white;
    width: 612px;
    height: 792px;
    margin: auto;
    display: flex;
    flex-direction: row;

}
.left-block{
    background-color: rgb(68, 68, 215);
    color: white;
    width: 30%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:start;  
}
.left-block a{
    color: white;
    margin: 5px;  
}
.right-block{
    background-color: rgb(240, 209, 225);
    color: rgb(58, 58, 58);
    width: 70%;
    height: 100%;
    padding: 10px;
}
.right-block a{
    color: rgb(58, 58, 58);
    text-decoration-color: rgb(172, 172, 172);
}

p{
    margin: 5px;
}
.right-block h1, .right-block h3{
    margin-bottom: 0;
    margin-top: 0;
    font-weight: lighter;
}
.right-block h3{
    margin-top: 10px;
}
.from{
    margin: 0;
    color: rgb(157, 156, 156);
}
.phone{
    font-size: 15px;
}
.left-block p a{
    margin-left: 0;
}
.left-block h3{
    margin-left: 5px;
}
@media(max-width: 360px){
    *{
        font-size: medium;
    }
    .block{
        width: 345px;
        height: 1000px;
        padding: 0;
    }
    .left-block{
        width: 35%;
    }
    .left-block h3{
        margin: 0 0 5px;
    }
    .right-block{
        width: 65%;
    }

}